@keyframes grossir {
    from {
        color: orange;
    }

    to {
        color: rgb(222, 0, 0);

    }
}



html {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    user-select: none;
    text-align: center;
}

body {
    background-color: rgb(46, 46, 46);


}


#logo {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);

}

.heureanimation {
    animation: grossir 0.2s ease-in-out infinite alternate;
}

#bouttontest {
    position: absolute;
    top: 88%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: aqua;
    cursor: pointer;
    border-radius: 5px;
}

#bouttontest:active {
    color: yellow;
}

#text {
    color: rgb(0, 234, 255);
    margin: 25px;
    font-size: 2vw;

}

#input {
    position: absolute;
    top: 5%;
    left: 200px;
    transform: translate(-50%, -50%);
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px;
    outline: none;
    height: 10px;
    font-size: medium;
    border-radius: 5px;
}

#blocktext {
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 500px;
    overflow: hidden;
    word-wrap: break-word;
    position: absolute;
    top: 350px;
    left: 200px;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 15px;


}

#blockpourcent {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    height: 55px;
    width: fit-content;
}

#pourcent {
    color: aqua;
}

#inputrange{
 
    color: beige;
    cursor: ew-resize;
}